html {
  background: #ecec;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

section {
  top: 10%;
  position: relative;
}

ol, ul {
  padding-left: 30px;
  list-style-type: none;
}

li button {
  width: 180px;
  height: 31px;
  background: #34e5ff1a;
  border: 1px solid white;
  border-radius: 20px;
}

.current {
  font-weight: 900;
}

#player-1, #player-2 {
  height: 385px;
}

#player-1 {
  background-image: url('sitting-1.png');
  background-size: cover;
  transform: scaleX(-1);
}

#player-2 {
  background-image: url('sitting-2.png');
  background-size: cover;
}

#root {
  height: 100vh;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #adbdff;
  border: 2px solid #fff;
  float: left;
  font-size: 90px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.square:focus {
  background: #b74f6f;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-bottom: 40px;
}

.game-board {
  width: auto !important;
  padding: 50px;
  border-radius: 20px;
}
